<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ text.signup_title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


<form #form="ngForm" (ngSubmit)="signup(form.value)">

<h3 style="font-size: 22px;font-weight: 700">{{ text.signup_heading }}</h3>

<ion-item>
  <ion-label position="floating"><ion-icon name="person"></ion-icon> Your Name</ion-label>
  <ion-input type="text" name="name" ngModel required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"><ion-icon name="mail"></ion-icon> Email</ion-label>
  <ion-input type="email" name="email" ngModel required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"><ion-icon name="phone-portrait"></ion-icon> Phone</ion-label>
  <ion-input type="tel" name="phone" ngModel required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"><ion-icon name="lock"></ion-icon> Password</ion-label>
  <ion-input type="password" name="password" ngModel required></ion-input>
</ion-item>


<br><br>
<ion-button expand="block" mode="ios" [disabled]="!form.valid" type="submit">{{ text.signup_button }}</ion-button>
</form>

</ion-content>
