<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="text">Select Country</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" *ngIf="text">

<ion-searchbar (ionInput)="search($event)" mode="ios" color="light" placeholder="{{ text.city_search }}"></ion-searchbar>

<ion-list>
<ion-radio-group>
<ion-list-header>
<ion-label>Select Country and Continue</ion-label>
</ion-list-header>

<ion-item *ngFor="let city of data">
<ion-label>{{ city.name }}</ion-label>
<ion-radio slot="start" value="{{ city.id }}" (ionSelect)="setCity(city.id,city.name)" [checked]="city.id == cityID"></ion-radio>

</ion-item>
</ion-radio-group>
</ion-list>
<br>
<ion-button expand="block" size="large" type="button" [disabled]="!cityID" (click)="city()" mode="ios">{{ text.city_button }}</ion-button>
<br>
<img src="/assets/1Asset.png"/>
</ion-content>
