<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start" routerLink="/home" routerDirection="root">
    <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>{{ text.info_title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-slides pager="true" autoplay="3000">
<ion-slide><img src="https://fomosadev.co.za/upload/user/new/{{ data.img2 }}"></ion-slide>
<ion-slide *ngIf="data.img3"><img src="https://fomosadev.co.za/upload/user/new/{{ data.img3 }}"></ion-slide>
<ion-slide *ngIf="data.img4"><img src="https://fomosadev.co.za/upload/user/new/{{ data.img4 }}"></ion-slide>
<ion-slide *ngIf="data.img5"><img src="https://fomosadev.co.za/upload/user/new/{{ data.img5 }}"></ion-slide>


</ion-slides>

<div class="ion-padding">
<ion-row style="text-align: center;">
<ion-col size="3"><a href="http://maps.google.com/?q={{ data.lat }},{{ data.lng }}" target="_blank" style="color:black"><img alt="Qries" src="assets/map.jpg" height="35px"><br><small style="font-size:10px">Directions</small></a></ion-col>
<ion-col size="3"><a href="https://m.uber.com/ul/?action=setPickup&client_id=p8ayvx5gL3R9Uw7x-yTrDf9Lh2q5gkWy&pickup=my_location&dropoff[formatted_address]={{ data.lat }},{{ data.lng }}" target="_blank" style="color:black"> <img alt="Qries" src="assets/uber2.png" height="35px"><br><small style="font-size:10px">Call an Uber</small></a></ion-col>

<ion-col size="3" (click)="wishList(data.id)">
<img alt="Qries" src="assets/h.svg" height="35px" *ngIf="!hasFav">
<img alt="Qries" src="assets/heart.png" height="35px" *ngIf="hasFav">

<br><small style="font-size:10px">Favorite</small></ion-col>
<ion-col size="3"><a href="tel:{{ data.phone }}" style="color:black"><ion-icon name="call" style="font-size: 35px;color:#3f51b5"></ion-icon><br><small style="font-size:10px">Call Now</small></a></ion-col>
</ion-row>
</div>
<img style="height:60px; text-align:left;margin-left:20px" src="{{ data.img }}">

<ion-card mode="ios">

<ion-card-header>
<ion-card-title style="font-size: 12px;color: black;"><b>{{ data.open }}</b></ion-card-title>
<ion-card-title style="font-size: 18px;font-weight: 700; color: black;">{{ data.title }} <ion-badge color="primary" style="float: right">{{ data.rating }}<br></ion-badge></ion-card-title>
<ion-card-title style="font-size: 16px;color: black;">{{ data.ddesc }}</ion-card-title>

<ion-card-subtitle style="font-size:12px;font-family:helvetica;color: black;">{{ data.discount_desc }}</ion-card-subtitle>

<ion-card-subtitle style="font-size:12px;font-family:helvetica;color: black;">{{ data.currency }}{{ data.person_cost2 }}</ion-card-subtitle>
<br>
<br>

<a *ngIf="data.menu" style="font-size:18px;font-weight:600;color:#e72542;border:1px solid #e72542;padding:10px" href="{{ data.menu }}" target="_blank">See Menu</a>
<br>
<br>
<p style="font-size: 12px;font-weight: 700;padding-top-20px;color: black;">Nitty Gritty</p>


<ion-card-subtitle style="font-size:12px;font-family:helvetica;color: black;">{{ data.fineprint }}</ion-card-subtitle>
</ion-card-header>

<ion-card-content>
<p style="font-size: 12px;font-weight: 700;color: black">Contact Details</p>
<ion-list lines="none">
<ion-item text-wrap>
  <ion-label>{{ data.address }}</ion-label>
  <ion-icon name="pin" slot="start" color="danger"></ion-icon>
</ion-item>

<ion-item text-wrap>
  <ion-label><a href="tel:{{ data.phone }}">{{ data.phone }}</a></ion-label>
  <ion-icon name="call" slot="start" color="danger"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>{{ text.info_open }} : {{ data.open_time }}</ion-label>
  <ion-icon name="time" slot="start" color="danger"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>{{ text.info_close }} : {{ data.close_time }}</ion-label>
  <ion-icon name="time" slot="start" color="danger"></ion-icon>
</ion-item>



</ion-list>
</ion-card-content>
</ion-card>

<div class="ion-padding">

<h3>Book Now</h3>

<form #form="ngForm" (ngSubmit)="book(form.value)">




 
  <ion-input type="hidden" name="discount" ngModel="{{ data.discount }}"></ion-input>
  <ion-input type="hidden" name="title" ngModel="{{ data.title }}"></ion-input>



<ion-item>
  <ion-label position="floating">Name</ion-label>
  <ion-input type="text" required name="name" ngModel></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Surname</ion-label>
  <ion-input type="text" required name="sname" ngModel></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Phone</ion-label>
  <ion-input type="tel" required name="phone" ngModel></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Number of People</ion-label>
  <ion-input type="text" required name="people" ngModel></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Booking Day</ion-label>
  <ion-datetime displayFormat="MMM/DD/YYYY" required name="bookingday" ngModel></ion-datetime>
</ion-item>

<ion-item>
  <ion-label position="floating">Booking Time</ion-label>
  <ion-datetime displayFormat="h:mm a" pickerFormat="h:mm a" required name="bookingtime" ngModel></ion-datetime>
</ion-item>

<ion-item>
  <ion-label position="floating">Notes</ion-label>
  <ion-textarea type="text" required name="comments" ngModel></ion-textarea>
</ion-item>

<br><br>

<ion-button expand="block" mode="ios" type="submit" [disabled]="!form.valid">Send Query</ion-button>
</form>

</div>

<span>

<h3 style="padding: 0px 18px">{{ text.info_rating_title }} <ion-button fill="outline" size="small" color="success" routerLink="/rate/{{ data.id }}" routerDirection="forward" style="float: right" *ngIf="data.hasRating != 1">{{ text.history_rating }}</ion-button></h3>

<p *ngIf="data.ratings.length == 0" style="padding: 10px 10px;font-size: 12px;color;gray">No Rating Found</p>

<span *ngIf="data.ratings.length > 0">

<ion-card mode="ios" *ngFor="let rate of data.ratings">

<ion-card-header>
<ion-card-subtitle>{{ rate.user }} <small style="float: right">{{ rate.date }}</small>

<ion-row *ngIf="rate.star == 1">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

<ion-row *ngIf="rate.star == 2">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

<ion-row *ngIf="rate.star == 3">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

<ion-row *ngIf="rate.star == 4">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

<ion-row *ngIf="rate.star == 5">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

</ion-card-subtitle>
</ion-card-header>

<ion-card-content>

{{ rate.comment }}

</ion-card-content>
</ion-card>
</span>
</span>

</ion-content>
