<ion-header no-border>
<ion-toolbar color="primary">
<ion-buttons slot="end" >
<ion-menu-button></ion-menu-button>
</ion-buttons>
<div>
<img src="assets/fomologo.png" width="35%" style="margin-left:5%">
</div>
</ion-toolbar>
</ion-header>

<ion-content *ngIf="text">

<ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="count > 0" routerLink="/cart" routerDirection="forward">
<ion-fab-button color="danger" edge="true">
<ion-icon name="cart"></ion-icon> {{ count }}
</ion-fab-button>
</ion-fab>

<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"><ion-refresher-content></ion-refresher-content></ion-refresher>
<div style="width:100%;background-color: #004266;margin-top: -10px">
<ion-searchbar (ionInput)="search($event)" placeholder="Search Restaurant or Area" mode="ios" color="light" (ionClear)="ngOnInit()" [(ngModel)]="searchQuery"></ion-searchbar><br><br><br>
</div>


<ion-card class="welcome-card" style="background-color:white;width: 98%;margin-left: 1%;margin-top: -12%;" mode="ios">

<ion-list id="skeleton" *ngIf="!data">
<ion-list-header>
<ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
</ion-list-header>

<ion-item *ngFor="let fake of fakeData">
<ion-thumbnail slot="start">
<ion-skeleton-text></ion-skeleton-text>
</ion-thumbnail>
<ion-label>
<h3>
<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
</h3>
<p>
<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</p>
<p>
<ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
</p>
</ion-label>
</ion-item>

</ion-list>



<ion-card-content *ngIf="data">

<h2 style="padding-bottom:20px" *ngIf="hasSearch">Searching for '{{ hasSearch }}'</h2>



<ion-slides pager="false" [options]="BannerOption" #slideone autoplay="3000" *ngIf="!hasSearch">
<ion-slide *ngFor="let offer of data.banner" (click)="bannerLink(offer)"><img src="{{ offer.img }}" width="98%" style="border-radius: 4%"></ion-slide>
</ion-slides>
<ion-slides pager="false" [options]="SearchOption" #slideone style="margin-left: -10px;margin-top: 5px" *ngIf="!hasSearch">

<ion-slide><ion-card style="padding: 5px 5px" mode="ios"><a href="https://api.whatsapp.com/send?text=https://play.google.com/store/apps/details?id=com.fomoAppFDA&gl=ZA" target="_blank" data-action="share/whatsapp/share"><img src="assets/580b57fcd9996e24bc43c543.png" style="width: 40% !important;margin-left: 30%"><small style="font-size: 9px">Share App</small></a>
<ion-spinner name="dots" *ngIf="filterPress == 1" color="primary"></ion-spinner></ion-card></ion-slide>



<ion-slide (click)="dataFilter(3)"><ion-card style="padding: 5px 5px" mode="ios"><img src="assets/trend.png" style="width: 40% !important;margin-left: 30%">

<small style="font-size: 9px" *ngIf="filterPress != 3">{{ text.home_trending }}</small>
<ion-spinner name="dots" *ngIf="filterPress == 3" color="primary"></ion-spinner>

</ion-card></ion-slide>

<ion-slide (click)="dataFilter(4)"><ion-card style="padding: 5px 5px" mode="ios"><img src="assets/alarm.png" style="width: 40% !important;margin-left: 30%">

<small style="font-size: 9px" *ngIf="filterPress != 4">{{ text.home_new_arrival }}</small>
<ion-spinner name="dots" *ngIf="filterPress == 4" color="primary"></ion-spinner>

</ion-card></ion-slide>

<ion-slide (click)="dataFilter(5)"><ion-card style="padding: 5px 5px" mode="ios"><img src="assets/rating.png" style="width: 40% !important;margin-left: 30%">

<small style="font-size: 9px" *ngIf="filterPress != 5">{{ text.home_by_rating }}</small>
<ion-spinner name="dots" *ngIf="filterPress == 5" color="primary"></ion-spinner>

</ion-card></ion-slide>

</ion-slides>
<div style="width:120%;margin-top:-30px;color: #3e4676">
          <ion-col>
            <ion-item>
                <label style="font-size:12px;color: #3e4676">Choose Day Of The Week</label>
                <ion-select placeholder="Select" interfaceOptions={customAlertOptions} interface="alert" (ionChange)="search2($event)"  style="margin:20px;font-size: .9rem;width:140px;font-weight: 500;line-height: 1.5;height: calc(1.5em + .75rem + 2px);padding: .275rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;color: #3e4676;border: 1px solid #d3e0e9;border-radius: .25rem;">
                    <ion-select-option value="monday">Monday</ion-select-option>
                    <ion-select-option value="Tuesday">Tuesday</ion-select-option>
					<ion-select-option value="Wednesday">Wednesday</ion-select-option>
                    <ion-select-option value="Thursday">Thursday</ion-select-option>
					<ion-select-option value="Friday">Friday</ion-select-option>
                    <ion-select-option value="Saturday">Saturday</ion-select-option>
					<ion-select-option value="Sunday">Sunday</ion-select-option>
				
				
					
                </ion-select>
            </ion-item>
        </ion-col>
</div>
<ion-card *ngIf="data && data.store.length == 0" mode="ios" style="padding: 20px 20px;">

<h2>Oops! Nothing Found <ion-button size="small" mode="ios" (click)="ngOnInit()">Go Back</ion-button></h2>

</ion-card>

<ion-backdrop tappable="false" *ngIf="filterPress"></ion-backdrop>

<ion-row style="margin-bottom: 10px; box-shadow: 2px 2px 2px 2px #d3d3d3;padding-right: 9px;border-radius:5px" *ngFor="let store of StoreData;let i = index">
<ion-col size="4"><img src="https://fomosadev.co.za/upload/user/new/{{ store.img2 }}" style="border-radius: 10%" (click)="itemPage(store)"></ion-col>
<ion-col size="7" style="padding: 2px 10px;color: black;"><b (click)="itemPage(store)">{{ store.title }}</b><br>

<small style="color: black;font-size: 12px;font-weight: 700;" *ngIf="store.ddesc" (click)="itemPage(store)">{{ store.ddesc }}</small><br>
<small style="color: black;font-size: 10px" (click)="itemPage(store)">{{ store.currency }}{{ store.person_cost2 }} | {{ store.type2 }}  </small><br>
<small style="color: black;font-size: 10px;maxlength: 2ch" (click)="itemPage(store)">{{ store.address }} | {{ store.distance }}km</small>


</ion-col>
<ion-col size="1">

<ion-icon name="heart-empty" style="font-size: 28px" *ngIf="!hasWish(store.id)" (click)="wishList(store.id)"></ion-icon>
<ion-icon name="heart" style="font-size: 28px;color:red" *ngIf="hasWish(store.id)" (click)="wishList(store.id)"></ion-icon>

<ion-badge style="margin-right:200%"color="primary" >{{ store.rating }}</ion-badge>
</ion-col>

<ion-col size="12" *ngIf="i == 3 && data.trending.length > 0">
<p style="font-size: 18px;font-weight: 700">Trending</p>
<ion-slides pager="false" [options]="TrendOption" #slideone autoplay="3000" class="trend">
<ion-slide *ngFor="let trend of data.trending" (click)="itemPage(trend)">

<ion-card style="padding: 2px 2px;font-size: 12px;width: 100%;margin-left: 2px" mode="ios">
<ion-row>
<ion-col size="12"><img src="https://fomosadev.co.za/upload/user/new/{{ trend.img2 }}" width="100%"></ion-col>
<ion-col size="10"><small style="color: black;font-size: 12px;">{{ trend.title }}</small></ion-col>
<ion-col size="10"><small style="color: black;font-size: 10px;">{{ trend.discount}}</small></ion-col>
<ion-col size="2"><ion-badge color="primary">{{ trend.rating }}</ion-badge></ion-col>
</ion-row>
</ion-card>

</ion-slide>
</ion-slides>

</ion-col>

<ion-col size="12" *ngIf="i == 8 && data.bottom.length > 0">

<ion-slides pager="false" [options]="MiddleBannerOption" #slideone autoplay="1000">
<ion-slide *ngFor="let bottom of data.bottom" (click)="bannerLink(bottom)"><img src="{{ bottom.img }}"></ion-slide>
</ion-slides>

</ion-col>

</ion-row>

</ion-card-content>
</ion-card>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>

<ion-footer *ngIf="text">
<ion-toolbar mode="ios">

<ion-tabs>
  <ion-tab-bar slot="bottom">
    
   <ion-tab-button  (click)="ngOnInit()"> 
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ text.home_footer_name }}</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="nearBy()">
      <ion-icon name="pin"></ion-icon>
      <ion-label>{{ text.home_nearest }}</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="dataFilter(7)">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{ text.home_cart }}</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/profile" routerDirection="forward">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ text.home_profile }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-toolbar>
</ion-footer>