<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
<ion-back-button></ion-back-button>
</ion-buttons>
    <ion-title>
      {{ text.history_title }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="data">

<ion-card class="welcome-card" *ngFor="let order of data" mode="ios">

<ion-card-header>

<ion-card-subtitle>{{ order.store }} (#{{order.id }}) <ion-badge color="primary" style="float:right">{{ order.currency }}{{ order.total }}</ion-badge></ion-card-subtitle>

<br>
<ion-row>

<ion-col size="5"><b> {{ text.history_date }}</b></ion-col>
<ion-col size="7">{{ order.date }}</ion-col>

</ion-row>

<ion-row>

<ion-col size="5"><b> {{ text.history_status }}</b></ion-col>
<ion-col size="7">{{ order.status }}</ion-col>

</ion-row>

<ion-row>

<ion-col size="6"><b> {{ text.history_item }}</b></ion-col>
<ion-col size="3"><b> {{ text.history_qty }}</b></ion-col>
<ion-col size="3"><b> {{ text.history_price }}</b></ion-col>

</ion-row>

<span *ngFor="let item of order.items">
<ion-row>

<ion-col size="6">{{ item.type }} {{ item.item }}</ion-col>
<ion-col size="3">{{ item.qty }}</ion-col>
<ion-col size="3">{{ order.currency }}{{ item.price * item.qty }}</ion-col>
</ion-row>


<ion-row *ngFor="let addon of item.addon">

<ion-col size="6">{{ addon.addon }}</ion-col>
<ion-col size="3">{{ item.qty }}</ion-col>
<ion-col size="3">{{ order.currency }}{{ item.price  }}</ion-col>

</ion-row>
</span>

<br>
<ion-button *ngIf="order.hasRating == 0" fill="outline" size="small" color="success" routerLink="/rate/{{ order.id }}" routerDirection="forward">{{ text.history_rating }}</ion-button>
<ion-button *ngIf="order.st == 0 || order.st == 1" fill="outline" size="small" style="float: right" (click)="cancelOrder(order.id)">{{ text.history_cancel }}</ion-button>

</ion-card-header>

</ion-card>


</ion-content>
